@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


.fade-out {
  animation: fadeOut 0.5s forwards;
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
  to {
      opacity: 0;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}


.title-log{
  font-family: 'Bevan', sans-serif;
  color: #000;
  text-shadow: 13px -19px 28px rgba(0,0,0,1);
  text-shadow: -20px 0px 21px rgba(12,54,236,0.51);
  
}

:root {
  --black-color: #000;
  --bv-style: 'Bevan', sans-serif;
  --label-style: 'Alegreya', serif;

}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* background: url('https://i.pinimg.com/originals/09/05/a7/0905a74092fa43fce6218aa48f6a26a4.jpg') no-repeat; */
  background-size: cover;
  background-position: center;
  /* background-color: #66fcf1; */
  /* animation: animateBg 4s linear infinite; */
}

@keyframes animateBg {
  100% {
    filter: hue-rotate(360deg);
  }
}

.login-box {
  position: relative;
  width: 400px;
  padding: 30px;
  height: 500px;
  background: transparent;
  border-radius: 100% 0% 100% 0% / 0% 85% 15% 100% ;
  
  border: 11px ;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  flex-direction: column;
  
box-shadow: -41px -21px 78px 0px rgba(25,59,100,0.54);
-webkit-box-shadow: -41px -21px 78px 0px rgba(25,59,100,0.54);
-moz-box-shadow: -41px -21px 78px 0px rgba(25,59,100,0.54);
}

h1.conn {
  
  font-size: 2em;
  /* color: var(--black-color); */
  font-family: var(--bv-style);
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  position: relative;
  width: 310px;
  margin: 15px 0;
  border-bottom: 1px solid var(--black-color);
}

.input-box label {
  font-family: var(--label-style);
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: var(--black-color);
  pointer-events: none;
  transition: top .8s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  font-family: var(--label-style);
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--black-color);
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  top: 50%;
  color: var(--black-color);
  transform: translateY(-50%);
}

.remember-forgot {
  font-family: var(--label-style);
  margin: -15px 0 15px;
  font-size: .9em;
  color: var(--black-color);
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  margin-right: 3px;
}

button,
input[type="button"] {
  width: 100%;
  height: 40px;
  background-color: green;
  border: 1px dodgerblue aqua;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  font-weight: 500;
}

@media (max-width: 500px) {
  .login-box {
    width: 100%;
    height: 100vh;
    border: none;
    border-radius: 0;
  }

  .input-box {
    width: 290px;
  }
}


.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Initialement caché */
  z-index: 100000; /* Place le loader au-dessus de tout */
}

.loader {
  --cell-size: 20px;
  --cell-spacing: 1px;
  --cells: 3;
  --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
  display: flex;
  flex-wrap: wrap;
  width: var(--total-size);
  height: var(--total-size);
}

.cell {
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 4px;
  animation: 1.5s ripple ease infinite;
}

.cell.d-1 {
  animation-delay: 100ms;
}

.cell.d-2 {
  animation-delay: 200ms;
}

.cell.d-3 {
  animation-delay: 300ms;
}

.cell.d-4 {
  animation-delay: 400ms;
}

.cell:nth-child(1) {
  --cell-color: #0e0e0f;
}

.cell:nth-child(2) {
  --cell-color: #0e0e0f;
}

.cell:nth-child(3) {
  --cell-color: #0e0e0f;
}

.cell:nth-child(4) {
  --cell-color: #b1b3b3;
}

.cell:nth-child(5) {
  --cell-color: #b1b3b3;
}

.cell:nth-child(6) {
  --cell-color: #b1b3b3;
}

.cell:nth-child(7) {
  --cell-color: #0e0e0f;;
}

.cell:nth-child(8) {
  --cell-color: #0e0e0f;;
}

.cell:nth-child(9) {
  --cell-color:#0e0e0f;
}

/*Animation*/
@keyframes ripple {
  0% {
    background-color: transparent;
  }

  30% {
    background-color: var(--cell-color);
  }

  60% {
    background-color: transparent;
  }

  100% {
    background-color: transparent;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de l'overlay */
  z-index: 9998; /* Juste en dessous du loader */
  display: none; /* Initialement caché */
}