@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body, html {
  height: 100%;
  overflow: hidden; /* Enable scrolling */
  background: url('https://i.pinimg.com/originals/09/05/a7/0905a74092fa43fce6218aa48f6a26a4.jpg') no-repeat center center fixed;
  background-size: cover;
  animation: animateBg 4s linear infinite;
  color: #fff;
}

@keyframes animateBg {
  100% {
    filter: hue-rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.box {
  background: rgba(227, 139, 139, 0.5);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  overflow: auto; /* Enable scrolling within each box if needed */
}

h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.btn {
  background-color: #000;
  border: 1px dashed aqua;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #66fcf1;
  font-weight: 500;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #66fcf1;
  color: #000;
}

/* Styles for SVG elements */
.fp, .xp {
  position: relative;
}

.fp:hover text, .xp:hover text {
  fill: #fff; /* Change text color to white on hover */
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
